<div class="article-container">
    <h1 class="article-title"><%= @article.title %></h1>

    <p class="article-body"><%= @article.body %></p>

    <button><%= link_to "Edit", edit_article_path(@article) %></button>

    <button><%= link_to "Destroy", root_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></button>
</div>

<div class="comment-container">
    <h2>Comments</h2>
    <%= render @article.comments %>

    <h3>Add a Comment:</h3>
    <%= render "comments/form" %>    
</div>

<p id="home-link"><%= link_to "Home", root_path %></p>